.default-button {
  width: 200px;
  height: 50px;
  background-color: #e92300;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

a.main-logo{
  z-index: 10;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 15vw;
  min-width: 130px;
  height: 83px;
  background: #D72130;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 22px;
  font-family: Open Sans;
  line-height: 28px;

  text-decoration: none;
}