* {
  font-family: Open Sans;
}

body {
  margin:0;
  width:100%;
}


.default-button {
  width: 200px;
  height: 50px;
  background-color: #e92300;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.main-logo{
  width: 15vw;
  min-width: 130px;
  height: 83px;
  background: #D72130;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  font-family: Open Sans;
  line-height: 28px;

  text-decoration: none;
}

.auth-logo{
  width: 15vw;
  min-width: 130px;
  height: 83px;
  background: #D72130;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  font-family: Open Sans;
  line-height: 28px;
  position: absolute;
  text-decoration: none;
  z-index: 5;
}