@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.form-container {
  position: relative;
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: -8px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-family: Open Sans;
}

.auth-header{
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 3%;
  position: absolute;
  top: 0;
  left:0 ;
}

.header-label{
  align-self: center;
}
.header-link{
  margin: 0px 10% 0px 20px;
  padding: 10px 20px 10px 20px;
  border: 2px solid #D72130;
  color: #D72130;
  text-decoration: none;
}

.header-link:hover{
  background-color: #D72130;
  color: white;
}

.Authform {
  width: 45%;
  margin: auto;
}
.ResetPasswordEmailForm{
  width: 60%;
  margin: auto;
}

.ResetPasswordAnswer{
  width: 70%;
  margin: auto;
}

.ResetPasswordAnswer .form-content-right h1{
  width: 100%;
  text-align: center;
}

.ResetPasswordAnswer .form-content-right  h2{
  width: 100%;
  text-align: center;
}

.alert-danger {
  color: red;
  font-size: 15px;
  color: red;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}
.googleSvg {
  margin-left: 15px;
}
.form-content-left {
  position: relative;
  width: 40%;
  height: 100%;
}

.form-content-right {
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
}

.form-img {
  width: 100%;
  height: 100%;
  background-image: url("../css/img/AuthMain.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
}
.form-content-left:after {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  content: "";
}
.text-reg {
  display: block;
  width: 100%;
  text-align: start;
}
.text-reg p {
  font-size: 13px;
  color: rgba(67, 76, 93, 1);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  width: 100%;
  color: rgb(155, 86, 86);
}
.text-success {
  width: 100%;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forms-container h1 {
  font-size: 1.5rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: rgb(5, 0, 0);
}

.forms-container h2 {
  font-size: 1rem;
  text-align: start;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;

  color: #596377;
}

.form-inputs {
  display: block;
  height: 37px;
  width: 100%;
  margin-bottom: 50px;
}
.form-inputs-name {
  display: block;
  /* height: 37px; */
  width: 40%;
}
.form-inputs-name p {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: #271818;
}

.form-inputs p {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: #271818;
}
.pictures-form {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-shrink: 0;
}

.form-label {
  display: block;
  text-align: start;
  font-size: 0.7rem;
  margin-bottom: 4px;
  color: rgba(67, 76, 93, 1);
  float: left;
  width: 50%;
}

.forgot-password {
  font-family: Open Sans;
  font-style: normal;
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 33px;
  text-align: right;
  color: #4A90E2;
  width: 50%;
}

.form-input {
  display: block;
  padding-left: 10px;
  height: 40px;
  width: 97%;
  border: 1px solid #d4d9e2;
}
.form-input::placeholder {
  color: #d4d9e2 !important;
  font-size: 15px !important;
}
.names-form {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 97%;
  justify-content: space-between;
}

.form-input::placeholder {
  color: #595959;
  font-size: 10px;
  border-style: solid;
  border: 3px;
  border-color: #d4d9e2;
}

.form-input-btn {
  width: 100%;
  height: 50px;
  margin-top: 2rem;
  border-radius: 2px;
  background-color: rgb(206, 16, 16);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#back-to-login{
  align-self: center;
}

#back-to-login:visited{
  color: black;
}

.form-input-btn:hover {
  cursor: pointer;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 1000%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
.fail {
  color: rgb(235, 3, 3);
  font-size: 17px;
  font-weight: 300;
  border: 1px solid rgb(235, 3, 3);
  padding: 3px;
  padding: 0px 15px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.success-message {
  font-family: "Open Sans";
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}
.close-icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display:block;
  background-color: #e92300;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
}
.facebookIconCircle:hover{
  fill: #3767cf;
  cursor: pointer;
}
.facebookIconCircle:hover >.facebookIconLetter{
  fill: white;
}
.googleSvg:hover{
  fill: #e92300 ;
  cursor: pointer;
}
.googleSvg:hover > .googleSvgElem{
  fill: white;
}
.go-home-button{
  margin-top: 20px;
}

#mail-logo{
  display: block;
  width: 80px;
  height: auto;
  align-self: center;
  visibility: visible;
}

#white-mail-logo{
  display: block;
  width: 80px;
  height: auto;
  align-self: center;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .form-content-left {
    width: 100%;
    position: absolute;
  }
  .forms-container {
    width: 100%;
    z-index: 2;
    color: white !important;
  }

  .header-label{
    visibility: hidden;
  }

  .header-link{
    visibility: hidden;
  }

  .text-reg p {
    color: white;
  }
  .form-label {
    color: white;
  }
  .pictures-form > svg {
    fill: white;
  }
  .Authform {
    width: 75%;
  }
  .ResetPasswordEmailForm{
    width: 70%;
  }
  .alert-danger {
    background-color: wheat;
  }
  .fail {
    background-color: wheat;
  }

  .forms-container h1 {
    color: white;
  }
  
  .forms-container h2 {
  
    color: #dae8f3;
  }

  .forgot-password {
    color: white;
  }
  #back-to-login{
    align-self:center;
    color: white;
    margin-top: 20%;
  }
  
  #back-to-login:visited{
    color: white;
  }
  #mail-logo{
    visibility: hidden;
  }

  #white-mail-logo{
    
    visibility: visible;
  }
}

