  .forms-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
  }

  .ChangePasswordForm {
    width: 55%;
  }

  .form-content-right {
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
  }

  .fail {
    color: rgb(235, 3, 3);
    font-size: 17px;
    font-weight: 300;
    border: 1px solid rgb(235, 3, 3);
    padding: 3px;
    padding: 0px 15px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .close-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display:block;
    background-color: #e92300;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
  }

  
.form-inputs {
    display: block;
    height: 37px;
    width: 100%;
    margin-bottom: 50px;
  }

  .form-label {
    display: block;
    text-align: start;
    font-size: 0.7rem;
    margin-bottom: 4px;
    color: rgba(67, 76, 93, 1);
  }

  .ChangePasswordform-input {
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
    padding-left: 10px;
    height: 40px;
    width: 97%;
    border: 1px solid #d4d9e2;
    
  }

  .form-input::placeholder {
    color: #d4d9e2 !important;
    font-size: 15px !important;
  }

 


  .pwd-container {
   position: relative;
   
}
  
.pwd-container i {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 44px;
}

.userInfo-container2 {
  width: 756px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; 
}

.userInfo-buttons2 {

  width: 55%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d4d9e2;
  height: auto;
}
.userInfo-buttons2 div {
  height:40px;
  width: 100%;
  cursor: pointer;
}
.userInfo-buttons2 div:hover {
  color: rgb(216, 0, 0);
}
.userInfo-active-button {
  height: 40px;
  color: rgb(216, 0, 0);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.userIcontainer{
  display:flex;
  justify-content: center;
  height: 39px;
  border: 0.5px solid rgb(184, 184, 184);
}

.forms-containerU {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Open Sans;
  }
