.dropdowns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  padding: 20px 0px 20px 0px;
  box-shadow: 0 0 3px #ccc;
  margin-bottom: 70px;
}
.dropdown-option {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: "Open Sans";
  margin-bottom: 20px;
}
.dropdown-option > span {
  font-size: 8px;
  color: rgb(126, 126, 126);
  font-weight: bold;
  letter-spacing: 1.3px;
  margin-bottom: 5px;
}
.dropdown-option > .Dropdown-root > .Dropdown-control {
  justify-content: flex-start !important;
}
.dropdown-option > .Dropdown-root > .Dropdown-control > .Dropdown-placeholder {
  margin-left: 0;
}
.dropdown-option > .Dropdown-root > .Dropdown-menu > .Dropdown-option {
  font-size: 12px;
  padding: 5px 0px;
  padding-left: 15px;
  font-weight: 500;
  border: none;
}
.dropdown-option > .Dropdown-root > .Dropdown-menu > .Dropdown-option:hover {
  background-color: #fee8e8;
  color: #ca1e1e;
}
.dropdown-option > .Dropdown-root {
  text-align: unset;
}
.teams-selector {
  font-weight: bold;
  width: 100%;
}
.DropZone {
  width: 90%;
  position: relative;
}
.dropzone-title {
  color: red;
}
.teams-dropdown-button {
  width: 90%;
  padding: 5px 0px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  color: #ca1e1e;
  cursor: pointer;
  font-weight: bold;
}
.teams-dropdown-button-red {
  margin-top: 15px;
  background-color: #ca1e1e;
  color: white;
}

.teams-central-content {
  margin: 30px -135px 100px 80px;
  width: 100%;
  justify-content: space-evenly;
}
.teams-list-container {
  width: 50%;
  height: auto;
  font-family: "Open Sans";
  font-size: 13px;
  flex-direction: column;
}
.teams-list-header {
  background-color: #f2f2f2;
  height: 25px !important;
  padding: 10px 0px 10px 30px;
}
.filter-button{
  border:none;
  cursor: pointer;
}
.teams-list-header-item{
  height: 25px !important;
  padding: 10px 0px 10px 30px;
}

.teams-list-header-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #434C5D;
}
.teams-item-font{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #2e3258;
}
.additional-options-text{
  display: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #D72130;
  padding-left: 50px;
  border:none;
  cursor: pointer;
  background-color: white;
}
.trash-bin-icon{
  display: none;
  padding-left: 20px;
  border:none;
  cursor: pointer;
  background-color: white;
  
}
.teams-list-item {
  width: 80%;
  height: 45px;
  border: 1.5px solid #dbdfe7;
  padding: 10px 0px 10px 30px;
}
.teams-list-items {
  width: 80%;
  height: 45px;
  border: 1.5px solid #dbdfe7;
  padding: 10px 0px 10px 30px;
}
.teams-list-items:hover{
  box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
}

.teams-list-items:hover .additional-options-text {
  display: block;
}
.teams-list-items:hover .trash-bin-icon {
  display: block;
}
.team {
  font-family: Open Sans;
  width: 50%;
  font-weight: 600;
  height: 50px !important;
  border: 1.5px solid #dbdfe7;
  border-left: none;
  border-right: none;
  position: relative;
}
.team > span{
  margin-left: 20px;
}
.flex {
  display: flex;
}
.teams-header {
  width: 20%;
  justify-content: left;
}
.paginationBttns{
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  color: #B2BBC5;
}
.paginationBttns a {
  margin: 8px;
  cursor: pointer;
}
.paginationActive a{
  color: #4F5963;
}
.result-per-page-line{
  margin-left: auto; 
  margin-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #B2BBC5;
}

.dropdown-per-page > .Dropdown-root{
  min-width: 3%;
  margin-right: 40px;
}
.Dropdown-menu{
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.Dropdown-arrow{
  border-style:solid;
  border-color: #8C9FB4 transparent;
  position: absolute;
  top: 12px !important;
  cursor: pointer;
}
.Dropdown-control{
  padding: 5px 24px 5px 9px !important;
  width: 100%;
}
.Dropdown-option{
  padding: 5px 5px;
}
.teams-list-footer {
  height: 25px !important;
  padding: 10px 0px 10px 30px;
}
.teams-list-footer-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #434C5D;
}
.current-page-line{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #B2BBC5;
}
